# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Create the DataFrame with the following values:

In [4]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],}
       ##'preTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [5]:
df = pd.DataFrame(raw_data,columns=['regiment','company', 'name','preTestScore'])
regiment = df.copy()

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [6]:

regiment.preTestScore.mean()

11.083333333333334

### Step 5. Present general statistics by company

In [7]:
regiment[['company']].describe()
regiment.groupby('company').describe()

        preTestScore
               count       mean        std  min   25%   50%    75%   max
company
1st              6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd              6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

### Step 6. What is the mean of each company's preTestScore?

In [8]:
regiment.groupby('company')[["preTestScore"]].mean()

         preTestScore
company
1st          6.666667
2nd         15.500000

### Step 7. Present the mean preTestScores grouped by regiment and company

In [9]:
regiment.groupby(['company','regiment'])[["preTestScore"]].mean()

                    preTestScore
company regiment
1st     Dragoons             3.5
        Nighthawks          14.0
        Scouts               2.5
2nd     Dragoons            27.5
        Nighthawks          16.5
        Scouts               2.5

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [12]:
without_heirarchical=regiment.groupby(['company','regiment'])[["preTestScore"]].mean()
without_heirarchical.unstack()

         preTestScore
regiment     Dragoons Nighthawks Scouts
company
1st               3.5       14.0    2.5
2nd              27.5       16.5    2.5

### Step 9. Group the entire dataframe by regiment and company

In [15]:
regiment.groupby(['company','regiment']).mean()

                    preTestScore
company regiment
1st     Dragoons             3.5
        Nighthawks          14.0
        Scouts               2.5
2nd     Dragoons            27.5
        Nighthawks          16.5
        Scouts               2.5

### Step 10. What is the number of observations in each regiment and company

In [16]:
regiment.groupby(['company','regiment']).size()

company  regiment
1st      Dragoons      2
         Nighthawks    2
         Scouts        2
2nd      Dragoons      2
         Nighthawks    2
         Scouts        2
dtype: int64

### Step 11. Iterate over a group and print the name and the whole data from the regiment

In [18]:
regiment.head()
for name,group in regiment.groupby('regiment'):
    print(name)
    print(group)

Dragoons
   regiment company    name  preTestScore
4  Dragoons     1st   Cooze             3
5  Dragoons     1st   Jacon             4
6  Dragoons     2nd  Ryaner            24
7  Dragoons     2nd    Sone            31
Nighthawks
     regiment company      name  preTestScore
0  Nighthawks     1st    Miller             4
1  Nighthawks     1st  Jacobson            24
2  Nighthawks     2nd       Ali            31
3  Nighthawks     2nd    Milner             2
Scouts
   regiment company   name  preTestScore
8    Scouts     1st  Sloan             2
9    Scouts     1st  Piger             3
10   Scouts     2nd  Riani             2
11   Scouts     2nd    Ali             3