# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [25]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [5]:
df1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv',sep=',')
df2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv',sep=',')

   ### Step 3. Assign each to a variable called cars1 and cars2

In [6]:
cars1 = df1.copy()
cars2 =df2.copy()

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [16]:
cars1.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13'],inplace=True)
#perferd soultion 
##cars1 = cars1.dropna(axis = 1)

### Step 5. What is the number of observations in each dataset?

In [12]:

print("obbservation of cars1 is :",cars1.size)
print("obbservation of cars2 is :",cars2.size)

obbservation of cars1 is : 2772
obbservation of cars2 is : 1800

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [24]:


cars = pd.concat([cars1, cars2])
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [36]:
owners = pd.Series(np.random.randint(15000, 73000, cars.shape[0]))

### Step 8. Add the column owners to cars

In [37]:
cars['owners']= owners

In [38]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,43005
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,68829
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,31560
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,24478
4,17.0,8,302,140,3449,10.5,70,1,ford torino,31650
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,58206
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,63439
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,67928
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,48016
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,49741