# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

In [2]:
df = pd.read_csv('wine.data')

### Step 3. Assign it to a variable called wine

In [3]:
wine = df.copy()

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [10]:
wine.drop(wine.columns[[0,3,6,8,10,12,13]] , axis=1,inplace=True)

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [22]:
wine.columns = ['alcohol',
 'malic_acid',
 'alcalinity_of_ash',
 'magnesium',
 'flavanoids',
 'proanthocyanins'
,'hue' ]

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [23]:
wine.iloc[:3,:] = np.nan

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [30]:
wine.magnesium.iloc[3:5] = np.nan

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [31]:
wine.alcohol.fillna(10,inplace=True)
wine.magnesium.fillna(100 , inplace=True)

### Step 9. Count the number of missing values

In [32]:
wine.isnull().sum()

alcohol              0
malic_acid           3
alcalinity_of_ash    3
magnesium            0
flavanoids           3
proanthocyanins      3
hue                  3
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [35]:
r = np.random.randint(0,10,10)

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [37]:
wine['alcohol'][r] = np.nan
wine.head(10)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,NaN,NaN,100.0,NaN,NaN,NaN
1,NaN,NaN,NaN,100.0,NaN,NaN,NaN
2,NaN,NaN,NaN,100.0,NaN,NaN,NaN
3,NaN,2.59,21.0,100.0,2.69,1.82,1.04
4,NaN,1.76,15.2,100.0,3.39,1.97,1.05
5,14.39,1.87,14.6,96.0,2.52,1.98,1.02
6,14.06,2.15,17.6,121.0,2.51,1.25,1.06
7,NaN,1.64,14.0,97.0,2.98,1.98,1.08
8,13.86,1.35,16.0,98.0,3.15,1.85,1.01
9,NaN,2.16,18.0,105.0,3.32,2.38,1.25

### Step 12.  How many missing values do we have?

In [39]:
wine.isnull().sum()

alcohol              6
malic_acid           3
alcalinity_of_ash    3
magnesium            0
flavanoids           3
proanthocyanins      3
hue                  3
dtype: int64

### Step 13. Delete the rows that contain missing values

In [40]:
wine.dropna(inplace=True)

### Step 14. Print only the non-null values in alcohol

In [48]:
wine[['alcohol']].notnull()

     alcohol
5       True
6       True
8       True
10      True
11      True
..       ...
172     True
173     True
174     True
175     True
176     True

[170 rows x 1 columns]

### Step 15.  Reset the index, so it starts with 0 again

In [49]:
wine.reset_index(inplace=True)

### BONUS: Create your own question and answer it.

In [50]:
wine

,index,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,5,14.39,1.87,14.6,96.0,2.52,1.98,1.02
1,6,14.06,2.15,17.6,121.0,2.51,1.25,1.06
2,8,13.86,1.35,16.0,98.0,3.15,1.85,1.01
3,10,14.12,1.48,16.8,95.0,2.43,1.57,1.17
4,11,13.75,1.73,16.0,89.0,2.76,1.81,1.15
...,...,...,...,...,...,...,...,...
165,172,13.71,5.65,20.5,95.0,0.61,1.06,0.64
166,173,13.40,3.91,23.0,102.0,0.75,1.41,0.70
167,174,13.27,4.28,20.0,120.0,0.69,1.35,0.59
168,175,13.17,2.59,20.0,120.0,0.68,1.46,0.60
169,176,14.13,4.10,24.5,96.0,0.76,1.35,0.61